<!DOCTYPE html>
<html>
    <head><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>List of anagrams</title>
    </head>
    <body>
        <div class='container'>
            <h1>Your anagrams below:</h1>
            <ul>
              <li> {{ result }} </li>
            </ul>
        </div>
    </body>
</html>
